{{view 'slick-view'}}
<div class="slider autoplay">
  <div class="panel">
    <h5>This is a regular panel.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
  </div>
  <div class="panel">
    <h5>This is a regular panel.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
  </div>
  <div class="panel">
    <h5>This is a regular panel.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
  </div>
  <div class="panel">
    <h5>This is a regular panel.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
  </div>
  <div class="panel">
    <h5>This is a regular panel.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
  </div>
  <div class="panel">
    <h5>This is a regular panel.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
  </div>
</div>


{{!-- <div id="page">
  <ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3>{{#link-to 'whatsreal'}}RealFeelz{{/link-to}}</h3></div></li>
    <li><span>Image 02</span><div><h3>{{#link-to 'whatsreal'}}Truth{{/link-to}}</h3></div></li>
    <li><span>Image 03</span><div><h3>{{#link-to 'whatsreal'}}Confession{{/link-to}}</h3></div></li>
    <li><span>Image 04</span><div><h3>{{#link-to 'whatsreal'}}Awareness{{/link-to}}</h3></div></li>
    <li><span>Image 05</span><div><h3>{{#link-to 'whatsreal'}}Connection{{/link-to}}</h3></div></li>
    <li><span>Image 06</span><div><h3>{{#link-to 'whatsreal'}}Life{{/link-to}}</h3></div></li>
  </ul>
</div> --}}