{{view 'fullpage-view'}}
{{!-- {{view 'sticky-view'}} --}}
{{!-- <div id="header">Header</div> --}}
<div id="fullpage">
  <div class="section">
    <div class="slide">
      <h1>RealFeelz</h1>
    </div>
    <div class="slide">

    </div>
    <div class="slide">

    </div>
    <div class="slide">

    </div>
  </div>
  <div class="section">
    <div class="intro">
      <h1>What's Real For You?</h1>
    </div>
  </div>
  <div class="section">
    <div class="intro">
      <h1>About Us</h1>
    </div>
  </div>
</div>
{{!-- <div id="footer">Footer</div> --}}