{{view 'flick-view'}}

<div class="flickerplate">
  <div class="slideshow bg-image animate-transform-slide flicker-theme-light">

    <ul class="flicks">

      <li data-background="https://ununsplash.imgix.net/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?q=75&fm=jpg&s=2857080adb1de5db2cbddb6d230954bc" style="background-image: url(https://ununsplash.imgix.net/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?q=75&fm=jpg&s=2857080adb1de5db2cbddb6d230954bc);">
        <div class="flick-inner">
          <div class="flick-content">
            <div class="flick-title">{{#link-to 'whatsreal'}}RealFeelz{{/link-to}}</div>
            <div class="flick-title">What's Real For You Right Now?</div>
          </div>
        </div>
      </li>


        <li data-background="https://unsplash.imgix.net/reserve/wVlfnlTbRtK8eGvbnBZI_VolkanOlmez_005.jpg?q=75&fm=jpg&s=de70d125f08a3fbb40d6b9984af5c3ad" style="background-image: url(https://unsplash.imgix.net/reserve/wVlfnlTbRtK8eGvbnBZI_VolkanOlmez_005.jpg?q=75&fm=jpg&s=de70d125f08a3fbb40d6b9984af5c3ad);">
            <div class="flick-inner">
              <div class="flick-content">
                <div class="flick-title">{{#link-to 'whatsreal'}}Confession{{/link-to}}</div>
              </div>
            </div>
          </li>

        <li data-background="https://unsplash.imgix.net/uploads/14116941824817ba1f28e/78c8dff1?q=75&fm=jpg&s=eed337dca5e9e4ca8b8d23513e6b9bf6" style="background-image: url(https://unsplash.imgix.net/uploads/14116941824817ba1f28e/78c8dff1?q=75&fm=jpg&s=eed337dca5e9e4ca8b8d23513e6b9bf6);">

          <div class="flick-inner">
            <div class="flick-content">
              <div class="flick-title">{{#link-to 'whatsreal'}}Truth{{/link-to}}</div>
            </div>
          </div>
        </li>

        <li data-background="https://ununsplash.imgix.net/44/C3EWdWzT8imxs0fKeKoC_blackforrest.JPG?q=75&fm=jpg&s=871d9503e2cbec376305a97d64ff3b23" style="background-image: url(https://ununsplash.imgix.net/44/C3EWdWzT8imxs0fKeKoC_blackforrest.JPG?q=75&fm=jpg&s=871d9503e2cbec376305a97d64ff3b23);">

          <div class="flick-inner">
            <div class="flick-content">
              <div class="flick-title">{{#link-to 'whatsreal'}}Awareness{{/link-to}}</div>
            </div>
          </div>
        </li>

        <li data-background="https://unsplash.imgix.net/reserve/tlC8KhNJR0CA2xdomLfx_DSC_0358-2.jpg?q=75&fm=jpg&s=c5c66c8958c2c6ddced808e608302fe7" style="background-image: url(https://ununsplash.imgix.net/44/C3EWdWzT8imxs0fKeKoC_blackforrest.JPG?q=75&fm=jpg&s=871d9503e2cbec376305a97d64ff3b23);">

          <div class="flick-inner">
            <div class="flick-content">
              <div class="flick-title">{{#link-to 'whatsreal'}}Connection{{/link-to}}</div>
            </div>
          </div>
        </li>

      <li data-background="https://ununsplash.imgix.net/46/yzS7SdLJRRWKRPmVD0La_creditcard.jpg?q=75&fm=jpg&s=7cc01cbdd45363cc0e2e8340b185bca2" style="background-image: url(https://ununsplash.imgix.net/46/yzS7SdLJRRWKRPmVD0La_creditcard.jpg?q=75&fm=jpg&s=7cc01cbdd45363cc0e2e8340b185bca2);">

        <div class="flick-inner">
          <div class="flick-content">
{{!--             <div class="flick-title">{{#link-to 'whatsreal'}}{{/link-to}}</div> --}}
          </div>
        </div>
      </li>

      </ul>

  </div>
</div>
