{{!-- {{view "test-view"}} --}}

<a target="_new" title="Special Mention Award @ Awwwards" href="http://www.awwwards.com/best-websites/deep-soni"><img src="http://deepsoni.me/wp-content/uploads/2014/11/ribbon.png" alt="" style="position: fixed; right: 30px; top: 75px; z-index: 9999999; width: 65px;">
</a>
<div class="curtain" data-ix="reverse-delay">
  <div class="w-container centervert">
    <img class="logosplash" src="images/logo.png" width="90" alt="54460684e62142a84d2633d4_logo.png" data-ix="logo-splash">
    <div class="intro1text" data-ix="txt1">Deep Soni</div>
    <div class="intro1text intro2text" data-ix="txt2">Digital Designer</div>
  </div>
</div>
<div class="frame" data-ix="frame-delay">
  <div class="border-bottom"></div>
  <div class="border-top"></div>
  <div class="border-left"></div>
  <div class="border-right"></div>
  <a class="w-inline-block frame-pull-left" href="#" data-ix="pull-left-follow">
    <div class="pull-link">Follow</div>
    <div class="pull-under-left"></div>
  </a>
  <a class="w-inline-block frame-pull-left right" href="#contact" data-ix="pull-left-contact">
    <div class="pull-link">Contact</div>
    <div class="pull-under-right"></div>
  </a>
  <div class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny for-hire" data-ix="for-hire">Available for hire soon.</div>
  <div class="follow-overlay">
    <a class="w-inline-block frame-pull-left open" href="#" data-ix="pull-left-follow-close">
      <div class="pull-link open">Close</div>
      <div class="pull-under-left over"></div>
    </a>
    <div class="follow-inner">
      <div class="follow-links">
        <a class="w-inline-block follow-link left" href="http://facebook.com/xdeeps" target="_blank">
          <div data-ix="social-link">Facebook</div>
        </a>
        <a class="w-inline-block follow-link right" href="http://twitter.com/xdeeps" target="_blank">
          <div data-ix="social-link">Twitter</div>
        </a>
        <a class="w-inline-block follow-link" href="http://google.com/+DeepSoniMe" target="_blank">
          <div data-ix="social-link">Google+</div>
        </a>
        <a class="w-inline-block follow-link" href="http://instagram.com/xdeeps" target="_blank">
          <div data-ix="social-link">Instagram</div>
        </a>
        <a class="w-inline-block follow-link more" href="#">
          <div class="follow-more">More</div>
        </a>
        <a class="w-inline-block follow-link more" href="http://ello.co/xdeeps" target="_blank">
          <div data-ix="social-link">Ello</div>
        </a>
        <a class="w-inline-block follow-link more" href="http://trakt.tv/user/xDeepS" target="_blank">
          <div data-ix="social-link">Trakt</div>
        </a>
        <a class="w-inline-block follow-link more" href="http://last.fm/user/xdeeps" target="_blank">
          <div data-ix="social-link">lastfm</div>
        </a>
        <a class="w-inline-block follow-link more" href="https://www.goodreads.com/user/show/14452404-deep-soni" target="_blank">
          <div data-ix="social-link">goodreads</div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="section-splash" data-ix="delay">
  <div class="w-container container-splash">
    <div class="splash-content">
      <img class="logoin" src="images/logobl.png" width="30" alt="54463a5da05709a755daa756_logobl.png" data-ix="logo-splash-inner">
      <div class="introtxt" data-ix="intro-splash-delay">Deep Soni is a Digital Designer known for his strategic execution skills. He specializes in creating modern and minimal interfaces that work.</div>
      <img class="w-hidden-small w-hidden-tiny scrollpng" src="images/scroll.png" width="40" alt="5448ccb68285d16f5b4cafa5_scroll.png" data-ix="scrollerpng">
    </div>
  </div>
</div>
<div class="section-about" data-ix="reveal-about">
  <div class="w-container container-about">
    <div class="gfx-left">
      <img src="images/triangles.png" width="500" alt="5449ec1d840b334664ee706b_triangles.png" data-ix="gfxleft">
    </div>
    <div class="gfx-right">
      <img src="images/t2.png" width="454" alt="5449f3141d98d66a65c030dc_t2.png" data-ix="gfxright">
    </div>
    <div class="about-content">
      <h1 data-ix="header">About</h1>
      <div class="w-row">
        <div class="w-col w-col-6">
          <p class="aboutp" data-ix="about-left">Design is problem solving, and that is what I do. I have been passionate about design since I was very young, first through video games, I'd spend hours of my day imagining concepts, thinking of ways to make them better, then my interest evolved into websites. I still remember my first website when I was ten,&nbsp;<em>it was on GeoCities</em>!&nbsp;
            <br>
            <br>I currently reside in Dubai, and am formerly from New York. I travel a lot and I love it. When not working I like walking around the city exploring urban architecture. My design work is largely influenced by Swiss Style; I like to produce modern and minimal solutions that work. My motto: less is more.
            <br>
            <br>Among my experiences working with digital design, I've had the opportunity to work for worldwide brands such as Coca Cola, Nestle, Toys R Us, FAO Schwarz to name a few.&nbsp;</p>
        </div>
        <div class="w-col w-col-6">
          <p data-ix="about-right">Although design may be my forte, my skill set isn't limited to it. Understanding design involves a thorough knowledge of the digital landscape. Some key areas of my experience include:&nbsp;Creative Direction, Senior-Level Design in Print, Digital, User Experience and Usability, Identity, Branding, Brand Management, Idea Generation and Problem Solving.&nbsp;I also enjoy Server Administration and Copywriting.
            <br>
            <br>I run my own Digital Agency called <a class="inline-link" target="_blank" title="Essence Labs - Digital Agency" href="http://essencelabs.com">Essence Labs</a> where I work with my team on different projects. I work with start-ups providing assistance and consultation through <a href="http://essence.vc" class="inline-link" target="_blank" title="Essence Ventures">Essence Ventures</a>. I have a few of my own ventures on there as well.
            <br>
            <br>In my free time I like to write geeky stuff on my blog or get busy on social media. You may <a class="follow-link-initiate" data-ix="inline-follow" href="#">follow me </a>and please reach out if you do, I don't bite and always love hearing about new projects!</p>
        </div>
      </div>
      <div class="w-slider test-bg" data-animation="cross" data-duration="500" data-infinite="1" data-ix="testimonials">
        <div class="w-slider-mask mask">
          <div class="w-slide slide">
            <div class="testimonial-text">"Deep was able to capture all of my ideas into a platform that expertly moved my personal brand to the next level. I cannot express enough what a wonderful and pleasant experience it was working with his team!”</div>
            <div class="testimonial-who">Dave reynolds,&nbsp;On-Air Personality at Vista Radio</div>
          </div>
          <div class="w-slide">
            <div class="testimonial-text">"Deep was able to capture all of my ideas into a platform that expertly moved my personal brand to the next level. I cannot express enough what a wonderful and pleasant experience it was working with his team!”</div>
            <div class="testimonial-who">DAVE REYNOLDS,&nbsp;ON-AIR PERSONALITY AT VISTA RADIO</div>
          </div>
          <div class="w-slide">
            <div class="testimonial-text">"Deep was able to capture all of my ideas into a platform that expertly moved my personal brand to the next level. I cannot express enough what a wonderful and pleasant experience it was working with his team!”</div>
            <div class="testimonial-who">DAVE REYNOLDS,&nbsp;ON-AIR PERSONALITY AT VISTA RADIO</div>
          </div>
        </div>
        <div class="w-slider-nav w-slider-nav-invert w-round testimonial-dots"></div>
      </div>
    </div>
  </div>
</div>
<div class="section-work" data-ix="reveal-work">
  <div class="w-container container-work">
    <div class="gfx-left work triangle">
      <img src="images/t22.png" alt="544a2b021d98d66a65c034f5_t22.png" data-ix="gfxleft">
    </div>
    <div class="work-content">
      <div class="w-row">
        <div class="w-col w-col-4" data-ix="about-left">
          <h3 data-ix="header">Work</h3>
          <p class="work">Some brands and companies I have worked with.</p>
          <p class="work workline2">You may browse through a few featured projects <a class="inline-link" target="_blank" title="Featured Work at Essence Labs" href="http://essencelabs.com/about/work/">here</a>. Resume and full portfolio available upon <a class="inline-link" href="#contact">request</a>.</p>
        </div>
        <div class="w-col w-col-8 logos">
          <div class="w-row logorow">
            <div class="w-col w-col-4 w-col-small-4 logogrid">
              <img class="logoimage" src="images/not.png" height="37" alt="544a0498697ed345645ee0c2_not.png" data-ix="logos">
            </div>
            <div class="w-col w-col-4 w-col-small-4 logogrid">
              <img class="logoimage" src="images/nest.png" height="35" alt="544a061c697ed345645ee0d1_nest.png" data-ix="logos">
            </div>
            <div class="w-col w-col-4 w-col-small-4 logogrid">
              <img class="logoimage" src="images/raz.png" height="35" alt="544a06b0697ed345645ee0eb_raz.png" data-ix="logos">
            </div>
          </div>
          <div class="w-row logorow">
            <div class="w-col w-col-4 w-col-small-4 logogrid">
              <img class="logoimage" src="images/coke.png" height="35" alt="544a0d221d98d66a65c032e0_coke.png" data-ix="logos">
            </div>
            <div class="w-col w-col-4 w-col-small-4 logogrid">
              <img class="logoimage" src="images/tru.png" height="35" alt="544a0995697ed345645ee114_tru.png" data-ix="logos">
            </div>
            <div class="w-col w-col-4 w-col-small-4 logogrid">
              <img class="logoimage" src="images/to.png" height="40" alt="544a0ab2697ed345645ee120_to.png" data-ix="logos">
            </div>
          </div>
          <div class="w-row logorow">
            <div class="w-col w-col-4 w-col-small-4 logogrid">
              <img class="logoimage" src="images/cf.png" height="50" alt="544a0c04697ed345645ee17a_cf.png" data-ix="logos">
            </div>
            <div class="w-col w-col-4 w-col-small-4 logogrid">
              <img class="logoimage" src="images/og.png" height="50" alt="544a0cad1d98d66a65c032da_og.png" data-ix="logos">
            </div>
            <div class="w-col w-col-4 w-col-small-4 logogrid">
              <img class="logoimage fao" src="images/fao.png" height="55" alt="544a088e1d98d66a65c0329f_fao.png" data-ix="logos">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-updates" data-ix="reveal-social">
  <div class="w-container container-updates">
    <div class="gfx-right tmi">
      <img src="images/tp.png" width="280" alt="544a2c68697ed345645ee42c_tp.png" data-ix="gfxright">
    </div>
    <div class="updates-content">
      <div class="w-row updates-feed">
        <div class="w-col w-col-3 w-col-small-6" data-ix="about-left">
          <h3 data-ix="header">Social</h3>
          <p class="work">One can’t share too much, can one? I hope not!</p>
          <p class="work workline2">I am a social media junkie, <a class="follow-link-initiate" data-ix="inline-follow" title="stalker." href="#">follow me</a>! I love talking to new people.&nbsp;</p>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <h3 data-ix="header">Writing</h3>
          <ul class="updates-cotain" data-ix="testimonials">
            <li><a class="list-link" href="#">A reboot.</a>
            </li>
            <li><a class="list-link" href="#">Vampires burn out too!</a>
            </li>
            <li><a class="list-link" href="#">Drop UI for Android (How To)</a>
            </li>
            <li><a class="list-link" href="#">Windows Phone 7 review.</a>
            </li>
            <li><a class="list-link" href="#">How to keep your ID safe</a>
            </li>
          </ul><a class="tmi-visit" href="http://deepsoni.me/blog/" data-ix="header" title="Visit my blog!">Visit Blog</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <h3 data-ix="header">Listening</h3>
          <ul class="updates-cotain" data-ix="testimonials">
            <li><a class="list-link" href="#">Owl City&nbsp;–&nbsp;Fireflies</a>
            </li>
            <li><a class="list-link" href="#">Sylvan Esso&nbsp;–&nbsp;Coffee</a>
            </li>
            <li><a class="list-link" href="#">Ed Sheeran&nbsp;–&nbsp;Sing</a>
            </li>
            <li><a class="list-link" href="#">Chris Brown&nbsp;–&nbsp;Forever</a>
            </li>
            <li><a class="list-link" href="#">Kina Grannis&nbsp;–&nbsp;Fast Car&nbsp;</a>
            </li>
          </ul><a class="tmi-visit" href="http://last.fm/user/xdeeps" data-ix="header" title="music stalker :|">Visit Lastfm</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <h3 data-ix="header">Watching</h3>
          <ul class="updates-cotain" data-ix="testimonials">
            <li><a class="list-link" href="#">The Walking Dead s5x02</a>
            </li>
            <li><a class="list-link" href="#">The Walking Dead s5x01</a>
            </li>
            <li><a class="list-link" href="#">Airplane Repo s2x4</a>
            </li>
            <li><a class="list-link" href="#">Brooklyn Nine-Nine s2x2</a>
            </li>
            <li><a class="list-link" href="#">Annabelle</a>
            </li>
          </ul><a class="tmi-visit" href="http://trakt.tv/user/xDeepS" data-ix="header" title="tv creeeeper">Visit Trakt</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-foot" id="contact" data-ix="reveal-foot">
  <div class="w-container container-foot">
    <div class="foot-content">
      <div class="w-row">
        <div class="w-col w-col-8" data-ix="testimonials">
          <h3 class="footer">Contact</h3>
          <div>
            <div class="footer-text">If you would like to request a quote please use <a class="inline-link footer-link" target="_blank" title="Get a Quote - Essence Labs" href="http://essencelabs.com/contact/get-quote/">this form</a>, if it’s anything else use <a href="http://deepsoni.me/contact" class="inline-link footer-link" target="_blank" title="Contact Me - DeepSoni.Me">this form</a>. And if forms aren't your thing you may directly email me at the address below.&nbsp;</div>
            <h4 class="footer-inner">Social</h4>
            <div class="footer-text">Social much? Me too! <a class="footer-inline-link" title="Reach out if you do follow!" href="#" data-ix="inline-follow">Click here to follow me</a> at the usual places.</div>
            <div class="w-row">
              <div class="w-col w-col-4 w-col-small-4">
                <h4 class="footer-inner">Location</h4>
                <div class="footer-text footer-bot-text">Dubai, UAE</div>
              </div>
              <div class="w-col w-col-4 w-col-small-4">
                <h4 class="footer-inner">Email</h4>
                <div class="footer-text"><a class="footer-bot-text" target="_blank" href="/cdn-cgi/l/email-protection#6109082105040411120e0f084f0c045e1214030b0402155c284453511509080f0a445351284453510d080a04445351180e144f"><span class="__cf_email__" data-cfemail="f69e9fb6929393868599989fd89b93">[email&#160;protected]</span><script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a>
                </div>
              </div>
              <div class="w-col w-col-4 w-col-small-4">
                <h4 class="footer-inner">Phone</h4>
                <div class="footer-text footer-bot-text">+1 516 828 1230</div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-4" data-ix="testimonials">
          <div class="footer-logos">
            <img class="footer-logo" src="images/logofoo.png" width="70" alt="544a281a1d98d66a65c034d1_logofoo.png" data-ix="egg">
            <div class="dizzy">dizzy :/</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
