<div class="curtain" data-ix="reverse-delay">
  <div class="w-container centervert">

  </div>
</div>
<div class="frame" data-ix="frame-delay">
  <div class="border-bottom"></div>
  <div class="border-top"></div>
  <div class="border-left"></div>
  <div class="border-right"></div>
  <a class="w-inline-block frame-pull-left" href="#" data-ix="pull-left-follow">
    <div class="pull-link">Follow</div>
    <div class="pull-under-left"></div>
  </a>
  <a class="w-inline-block frame-pull-left right" href="#contact" data-ix="pull-left-contact">
    <div class="pull-link">Contact</div>
    <div class="pull-under-right"></div>
  </a>
  <div class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny for-hire" data-ix="for-hire">Available for hire soon.</div>
  <div class="follow-overlay">
    <a class="w-inline-block frame-pull-left open" href="#" data-ix="pull-left-follow-close">
      <div class="pull-link open">Close</div>
      <div class="pull-under-left over"></div>
    </a>

  </div>
</div>
<div class="section-splash" data-ix="delay">
  <div class="w-container container-splash">
    <div class="splash-content">

    </div>
  </div>
</div>
