{{view 'fullbackground-view'}}

<img src="https://unsplash.imgix.net/uploads/14116941824817ba1f28e/78c8dff1?q=75&fm=jpg&s=eed337dca5e9e4ca8b8d23513e6b9bf6" id="bg" alt="">

<div id="page-wrap" class="small-12 medium-10 large-8 centered-columns">

  <form {{action "postStatement" newPost on="submit" }}>
      {{textarea placeholder="what's real for you right now?" class="text-field" value=newPost type="text" autofocus="true" cols="40" maxlength="200" require="true" wrap="hard"}}
      <div id="recaptcha"></div>
      <div class="status-text">
        {{#if verifyingCaptcha}}
          <p>Verifying Captcha...</p>
        {{/if}} {{#if showingCaptcha}}
          <p>Getting a Captcha...</p>
        {{/if}} {{#if captchaVerified }}
          <p>Now that we know you are a human, hit post again to share.</p>
        {{/if}} {{#if tryAgain}}
          <p>Try again...</p>
        {{/if}}
      </div>

      <button class="button radius" type="submit">Post</button>
  </form>

  <div class="statement-container">
    <ul>
      {{#each}}
      <p class="truths">{{body}}</p>
      {{/each}}
    </ul>
  </div>

</div>

<hr/>
<div class="row">
  <div class="small-12 medium-10 large-8 columns">
    <p id="copyright">{{#link-to 'index'}}©RealFeelz 2014{{/link-to}}</p>
  </div>
</div>
