{{view 'whatsreal-view'}}

<img src="https://ununsplash.imgix.net/reserve/D9xlw7UxTBqQw5sLf8cJ_reef%20insp-72.jpg?q=75&fm=jpg&s=a46f72e373f7af2b3bba993f565e24be" id="bg" alt="">

<div id="page-wrap" class="row panel radius" style="background: none;">

  <div class="small-12 medium-12 large-12 columns">

    <form {{action "postStatement" newPost on="submit" }}>
        {{textarea placeholder="what's real for you right now?" class="text-field" value=newPost type="text" autofocus="true" cols="40" maxlength="200" require="true" wrap="hard"}}
        <div id="recaptcha"></div>
        <div class="status-text">
          {{#if verifyingCaptcha}}
            <p>Verifying Captcha...</p>
          {{/if}} {{#if showingCaptcha}}
            <p>Getting a Captcha...</p>
          {{/if}} {{#if captchaVerified }}
            <p>Now that we know you are a human, hit post again to share.</p>
          {{/if}} {{#if tryAgain}}
            <p>Try again...</p>
          {{/if}}
        </div>
        <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <button class="button radius" type="submit">Post</button>
        </div>
        </div>
    </form>
    </div>
    <div class="statement-container">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns panel">
        <ul class="panel">
          {{#each}}
          <p class="truths">{{body}}</p>
          {{/each}}
        </ul>
      </div>
    </div>
    </div>

  </div>

</div>

<hr/>
<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <p id="copyright">{{#link-to 'index'}}©RealFeelz 2014{{/link-to}}</p>
  </div>
</div>
