{{!-- {{view 'fullpage-view'}} --}}
<div class="container">
  <form {{action "postStatement" newPost on="submit"}}>
    <textarea class="twelve columns" {{textarea placeholder="what's real for you right now?" class="text-field" value=newPost type="text" autofocus="true" cols="40" maxlength="200" require="true" wrap="hard"}}></textarea>

    <div class="row">
      <div class="twelve columns">
        <div id="recaptcha"></div>
      </div>
    </div>

    <div class="row">
      <div class="twelve colulmns">
        <div class="status-text">
          {{#if verifyingCaptcha}}
          <p>Verifying Captcha...</p>
          {{/if}}
          {{#if showingCaptcha}}
          <p>Getting a Captcha...</p>
          {{/if}}
          {{#if captchaVerified }}
          {{/if}}
          {{#if tryAgain}}
          <p>Try again...</p>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="twelve columns">
      <input class="button-primary" type="submit" value="Submit">
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="twelve columns">
      <ul>
        {{#each}}
        <p class="truths panel radius">{{body}}</p>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<hr/>
<p id="copyright">{{#link-to 'index'}}©RealFeelz 2014{{/link-to}}</p>